@font-face {
    font-family: 'Bad Script';
    src: local('Bad Script Regular'), local('BadScript-Regular'), url('Badscriptregular.woff2') format('woff2'), url('Badscriptregular.woff') format('woff'), url('Badscriptregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
