@font-face {
  font-family: "Badscriptregular";
  src: url("../font/badscript/Badscriptregular.woff2") format("woff2"),
     url("../font/badscript/Badscriptregular.woff") format("woff"),
     url("../font/badscript/Badscriptregular.ttf") format("truetype");  
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'CheshirskiyCat';
  src: url("../font/badscript/Badscriptregular.woff2") format("woff2"),
     url("../font/badscript/Badscriptregular.woff") format("woff"),
     url("../font/Cheshirskiy Cat.ttf) format("truetype");  
  font-style: normal;
  font-weight: normal;

